@using Pro_MVC_23_AjaxUrlHelpers.Models
@model IEnumerable<Person>
    
@foreach (var p in Model)
{
    <tr>
        <td>@p.FirstName</td>
        <td>@p.LastName</td>
        <td>@p.Role</td>
    </tr>
}