<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_TaskManagerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MCTS_Tk_Chap1_Les1/TaskManagerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TaskManagerService"
                contract="WcfServices.TaskManagerService" name="BasicHttpBinding_TaskManagerService" />
        </client>
    </system.serviceModel>
</configuration>